* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
}

.column {
  display: table-row;
}

.hero {
  background: url("./assets/images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#left-column {
  max-width: auto;
  max-height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 20px;
  padding: 20px;
}

#search {
  margin-top: 8px;
  margin-bottom: 8px;
}

#start-btn{
margin-top: 8px;
margin-bottom: 8px;
}

#left-arrow {
margin-left: 8px;
margin-right: 8px;
}

#right-arrow {
margin-left: 8px;
margin-right: 8px;
}

.middle {
  border-top: 10px;
  border-bottom: 10px;
}


#right-column {
  max-width: auto;
  max-height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 20px;
  padding: 20px;
}

.innerImage {
 height: auto;
 max-width: 75%;
}

.innerAnchor {
font-size: 12px;
color: blue;
}

.input, .textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
  width: 290px;
}
#start-btn {
  margin-top: 1px;
}


/* TITLE ANIMATION STARTS HERE */
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1f0874 0%,
    #5910a8 29%,
    #ff1361 67%,
    rgb(0, 153, 255) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3.2s linear infinite;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}